@model List<helmyStor.ViewModel.UserInRoleViewModel>
@{
    ViewData["Title"] = "EditUserInRole";
}
@section Styles {
        <link rel="stylesheet" type="text/css" href="~/Admin/app-assets/vendors/css/tables/datatable/datatables.min.css">
}

    <div class="content-body">
    <div class="row">
        <div class="col-12">
            <p>Read full documnetation <a href="https://datatables.net/" target="_blank">here</a></p>
        </div>
    </div>

    <!-- Add rows table -->
    <section id="add-row">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> Add Or Delete Role</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body mr-3">
                            <form asp-action="EditUserInRole" method="post" >
                            <div class="table-responsive ">
                                <div id="DataTables_Table_3_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row mr-3">
                                        <div class="col-sm-12 ">
                                            <table class="table add-rows dataTable" id="DataTables_Table_3" role="grid" aria-describedby="DataTables_Table_3_info">
                                                <tbody >
                                               @for (int i=0; i< Model.Count();i++)
                                                {
                                                    <tr role="row" class="odd mr-3">
                                                         <th width="1px"></th>
                                                    <th class="">
                                                        <input type="hidden" asp-for="@Model[i].UserId"/>
                                                        <input type="hidden" asp-for="@Model[i].UserName"/>
                                                        <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                                                        <label asp-for="@Model[i].IsSelected" class="form-check-label">@Model[i].UserName </label>
                                                    </th>
                                                   
                                                    </tr>
                                                }
                                                
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary mr-1 mb-1 waves-effect waves-light">Update</button>
                                <a asp-action="EditRole" asp-route-Id="@ViewBag.Id" type="reset" class="btn btn-outline-warning mr-1 mb-1 waves-effect waves-light">Cancel</a>
                            </div></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Add rows table -->

</div>

@section Scripts{
        <script src="~/Admin/app-assets/vendors/js/tables/datatable/vfs_fonts.js"></script>
    <script src="~/Admin/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="~/Admin/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="~/Admin/app-assets/vendors/js/tables/datatable/buttons.html5.min.js"></script>
    <script src="~/Admin/app-assets/vendors/js/tables/datatable/buttons.print.min.js"></script>
    <script src="~/Admin/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js"></script>
    <script src="~/Admin/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Page JS-->
    <script src="~/Admin/app-assets/js/scripts/datatables/datatable.js"></script>
    <!-- END: Page JS-->
}